*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}


.mestre{
    width: 1500px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 300px;
}

#box{
    width: 1200px;
    height: 300px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
#functions{;
    text-align: center;
}
input{
    border: none;
    border-bottom: 1px solid #000;
    height: 50px;
    width: 400px;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    background: none;
}
button{
    border: 1px solid #000;
    background: none;
    height: 50px;
    width: 300px;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 8px #505050;
    transition: 0.3s;
}

#tema{
    width: 1210px;
}